---
- hosts: myhosts
  connection: local
  name: Update service iLO5
  gather_facts: False

  tasks:
    - name: Flashfwpkg
      ilo_fwupdate_command:
        category: UpdateService
        command: Flashfwpkg
        baseuri: "{{ baseuri }}"
        username: "{{ username }}"
        password: "{{ password }}"
        fwpkg_file: ilo5_272.fwpkg
