---
- name: Create logical drives
  ilo_storage:
    category: Systems
    command: CreateLogicalDrives
    baseuri: "{{ baseuri }}"
    username: "{{ username }}"
    password: "{{ password }}"
    raid_details: "{{ raid_details }}"
  register: result

- name: Status
  debug:
    msg: "{{ result }}"
