---
# tasks file for setbiosdefault
- name: Set BIOS default settings
  community.general.redfish_config:
    category: Systems
    command: SetBiosDefaultSettings
    baseuri: "{{ baseuri }}"
    username: "{{ username }}"
    password: "{{ password }}"
  register: bios_attribute
  notify:
    - Reboot system to apply new BIOS settings
