---
# handlers file for changbiosattr
- name: Reboot system to apply new BIOS settings
  redfish_command:
    category: Systems
    command: PowerReboot
    baseuri: "{{ baseuri }}"
    username: "{{ username }}"
    password: "{{ password }}"