---
# tasks file for get_host_interfaces
- name: Get Host Interfaces
  community.general.redfish_info:
    category: Manager
    command: GetHostInterfaces
    baseuri: "{{ baseuri }}"
    # username: "{{ username }}"
    # password: "{{ password }}"
    auth_token: "{{ result.session.token }}"
  register: result_attr
